.container {
    display: flex;
}

.formContainer {
    display: flex;
    flex: 1;
}

.input {
    flex: 1;
    padding: 12px;
    border: 1px solid #c0c0c0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
}

.enter {
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}